.avatar-preview {
  width: 45px;
  height: 45px;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

.form-group {
  display: inline-flex;
}

.form-group label {
  text-align: left;
  width: 120px;
  padding-left: 5px;
}

.form-group .inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.userDetailsEdit-avatarFileLabel {
  color: white;
  padding: 8px;
}

.form-group .inputFile + .userDetailsEdit-avatarFileLabel {
  font-size: 1.25em;
  font-weight: 700;
  background-color: #2196f3;
  display: inline-block;
  cursor: pointer;
}

.form-group .inputFile:focus + .userDetailsEdit-avatarFileLabel,
.form-group .inputFile + .userDetailsEdit-avatarFileLabelbel:hover {
  background-color: #2196f3;
}

.userDetailsEdit-div {
  text-align: left;
}

.userDetailsEdit-avatarPreviewDiv {
  display: flex;
  align-items: center;
}

.userDetailsEdit-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
  border: 2px solid #008cba;
  border-collapse: collapse;
  max-width: 350px;
}
